.question-section-display {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    border-bottom: solid black 1px;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.questions-display {
    /* border: solid black 1px; */
}

.test-detail-display
{
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
}

.question {
    padding: 5px;
}

.question-span {
    font-weight: bold;
}