<div class="container">
  <div class="exam-data-display" *ngFor="let test of tests">
    <h1 class="mat-h1">{{ test.name }}</h1>
    <a [routerLink]="['/test-detail', test._id]">
      <button mat-raised-button color="primary" type="button">
        Details
      </button>
    </a>
    <a [routerLink]="['/test-edit', test._id]">
      <button *ngIf="auth.isLoggedIn()" mat-raised-button color="primary" type="button">
        Edit Test
      </button>
    </a>
    <button *ngIf="auth.isAdmin()" type="button" (click)="deleteExam(test._id)" mat-raised-button color="warn">
      Delete Exam
    </button>
    <hr>
  </div>
  <a [routerLink]="['/tests-create']">
    <button *ngIf="auth.isLoggedIn()" mat-raised-button color="primary" type="button">
      Create Test
    </button>
  </a>
</div>