html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    flex: 1 0 auto; 
    min-height: 90vh;
}
footer { 
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    border-top: 1px solid black;
    flex-flow: row wrap;
    min-height: 5vh;
    margin-top: 5vh;
}
.footer-text {
    margin: auto;
}  

.nav-bar {
    justify-content: space-between;
}