
<div class="main-content">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Exam Keys</span>
            <span class="menu-spacer"></span>
            <div fxShow="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a *ngIf="!auth.isLoggedIn()" [routerLink]="['/register']" mat-button>Register</a>
                <a *ngIf="!auth.isLoggedIn()" [routerLink]="['/login']" mat-button>Login</a>
                <a *ngIf="auth.isLoggedIn()" [routerLink]="['/tests']" mat-button>Welcome!</a>
                <a *ngIf="auth.isAdmin()" [routerLink]="['/user-admin']" mat-button>User Admin!</a>
                <a *ngIf="auth.isLoggedIn()" (click)="logOut()" mat-button>Logout</a>
                <a [routerLink]="['/tests']" mat-button>Exam Keys</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
<footer>
    <h5 class="footer-text">&copy;Charles Carrier and Vijaykumar Bhattacharji</h5>
</footer>
