<div class="container mat-typography">
  <form [formGroup]="examForm" [hidden]="success" (ngSubmit)="submitHandler()">
    <!-- Value: {{ examForm.value | json }} -->
    <h3 class="mat-h3">Enter Test Details</h3>
    <hr>
    <div class="exam-form">
      <div class="small-div">
        <mat-form-field>
          <input matInput placeholder="Exam Type" formControlName="examType">
          <!-- examType.touched means once clicked, & examType.invalid means has an error -->
          <mat-error *ngIf="examType.invalid && examType.touched">
            Exam type can not be empty
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Test Name" formControlName="name">
          <mat-error *ngIf="name.invalid && name.touched">
            Name can not be empty or invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div formArrayName="sections" class="exam-form-sections">
        <!-- We need to use get because there are special, irregular objects
        so we need to use .get a special function created by formgroup to get the inner values
        We use. controls because we need to access inside the sections -->
        <div *ngFor="let section of examForm.get('sections').controls; let i = index" [formGroupName]="i">
          <!-- mat is angular material-- which is an equivalent of bootstrap, but specifically 
          for angular. these have error handling/formating etc built in -->
          <mat-form-field>
            <input matInput placeholder="Section Type" formControlName="sectionType">
          </mat-form-field>
          <br>
          <mat-form-field>
            <!--  -->
            <input matInput placeholder="Number of Questions" formControlName="numberOfQuestions" type="text">
          </mat-form-field>
          <div class="exam-form-questions" formArrayName="questions">
            <div class="exam-form-individual-questions" *ngFor="let question of section.get('questions').controls; let j = index" [formGroupName]="j">
              <mat-form-field>
                <mat-label>{{ j + 1 }}</mat-label>
                <input matInput placeholder="Enter Answer Choice" formControlName="answer">
              </mat-form-field>
            </div>
          </div>
          <div class="exam-form-lower-buttons">
            <!-- Add Questions button runs the onclick addNewQuestion button -->
            <button type="button" mat-raised-button color="primary" (click)="addNewQuestion(section.controls)">Add questions</button>  
            <button type="button" mat-raised-button color="primary" (click)="deleteAllQuestions(section.controls)">Delete All Questions</button>
            <!-- This deletes the section that we are on. -->
            <button type="button" mat-raised-button color="warn" (click)="deleteSection(i)">Delete Section</button>
          </div>
        </div>  
      </div>
      <div class="small-div">
        <button type="button" mat-raised-button color="primary" (click)="addNewSection()">New section</button>
      </div>
    </div>
    <!-- the [disabled]="examForm.invalid"
    this is part of the validator anything that is invalid inside the FormGroup, invalid becomes true
  therefore the submit is disabled until all invalids are false. -->
    <button mat-raised-button color="primary" type="submit"
      [disabled]="examForm.invalid">Submit</button>
  </form>
</div>

